.footer{
	background-color: #fff;
	padding: em(10) 2.5%;
	p{
		font-family: $subHeadFont;
		font-size: em(14);
		color: $bodyColor;
		letter-spacing: 0.18em;
		text-transform: uppercase;
		text-decoration: none;
	}
}
.phone{
	position: fixed;
	bottom: 0;
	right: 12.5%;
	font-family: $subHeadFont;
	font-size: em(18);
  font-weight: 400;
	letter-spacing: 0.18em;
  color: #fff;
	text-transform: uppercase;
	background-color: $brandColor;
	padding: em(10) em(10);
}
