/*Theme colors, fonts, and patterns

*Table of Contents

*Theme Colors
  --Primary
  --Variations

*Typography
  --Base size
  --Fonts
  --Defaults

*/

/*
Theme Colors
*/
//Primary
$primaryColor: #88c541; //Green
$secondaryColor: #4ea699; //Blue green
$tertiaryColor: #5d5d5d;
// $accentColor: #252525;
// $lightGray: #252525;

//Variations
$primaryAlt: darken(#88c541,10);
$secondaryAlt: darken(#4ea699,10);
// $secondaryLight: #252525;
// $tertiaryAlt: darken(#252525,10);
// $accentAlt: darken(#252525,10);

/*
Typography
*/
//Base Size
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//Fonts
$headlineFont: "refrigerator-deluxe",sans-serif;
$subHeadlineFont: "proxima-nova",sans-serif;
$bodyFont: "ff-tisa-web-pro",serif;

//time
$time: 0.2s;

//Spacing
$margin: em(60px);
$font-header: sans-serif;
$font-nav: sans-serif;
$font-body: sans-serif;

h1, h2 {

}

h3 {

}

a{
    cursor: pointer !important;
}
a, svg {
    @include transition(all $time ease-in-out);
}
.transition{
    @include transition(all $time ease-in-out);
}

::-webkit-input-placeholder {
   color: transparentize($secondaryColor, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: transparentize($secondaryColor, 0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: transparentize($secondaryColor, 0.5);
}

:-ms-input-placeholder {
   color: transparentize($secondaryColor, 0.5);
}

//Patterns
.button{
    font-weight: 700;
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    span{
        margin-left: 20px;
        font-size: em(20);
        line-height: 0;
    }
    &:hover,
    &:focus{
        background-color: darken($primaryColor, 10);
    }
}
.button--black{
    color: #fff;
    background-color: #000 !important;
}
.button--qf{
    color: #fff;
}
