/*!Theme colors, fonts, and patterns
*
* Table of Contents
*
* Theme Colors
*  --Primary
*  --Variations
*
* Typography
*  --Base size
*  --Fonts
*  --Defaults
*
*/



/*
Theme Colors
*/
//Primary
$brandColor: #8c0000; //Green
$secondaryColor: #4ea699; //Blue green
$tertiaryColor: #5d5d5d;
$bodyColor: #161616;
// $accentColor: #252525;
// $lightGray: #252525;

//Variations
$primaryAlt: darken(#88c541,10);
$secondaryAlt: darken(#4ea699,10);
// $secondaryLight: #252525;
// $tertiaryAlt: darken(#252525,10);
// $accentAlt: darken(#252525,10);




/*
Typography
*/
//Base Size
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}


//Fonts
$headlineFont: "refrigerator-deluxe",sans-serif;
$subHeadFont: "proxima-nova",sans-serif;
$bodyFont: "ff-tisa-web-pro",serif;


//time
$time: 0.2s;


//Spacing
$margin: em(60px);

h1, h2 {

}

h3 {

}

a{
    cursor: pointer !important;
}
a, svg {
    @include transition(all $time ease-in-out);
}
.transition{
    @include transition(all $time ease-in-out);
}

::-webkit-input-placeholder {
   color: transparentize($brandColor, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: transparentize($brandColor, 0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: transparentize($brandColor, 0.5);
}

:-ms-input-placeholder {
   color: transparentize($brandColor, 0.5);
}

::selection {
  background: $brandColor; /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: $brandColor; /* Gecko Browsers */
  color: #fff;
}



//Defaults
html,
body{
  height: 100%;
}
body{
  background-color: $bodyColor;
  padding: 0 10%;
}


//
