.header{

	left: 0%;
	width: 100%;
  background-color: #fff;
  padding-top:    em(10);
  padding-bottom: em(10);
  padding-right:  2.5%;
  padding-left:   2.5%;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	@include media(795px) {
		position: fixed;
		z-index: 3;
		top: 0;
	}
	@include media(1200px) {
		left: 5%;
		width: 90%;
	}
	@include media(1440px) {
		padding-right:  2.5%;
	  padding-left:   2.5%;
		left: 10%;
		width: 80%;
	}
}
.branding{
  font-family: $headlineFont;
  font-size: em(30);
  font-weight: 900;
  color: $bodyColor;
	float: left;
	a {
		text-decoration: none;
		color: $bodyColor;
	}
	@media screen and (max-width: 794px) {
		margin: 0 auto;
		text-align: center;
		float: none;
		display: block;
	}
}
