.home nav[role=navigation]{
	float: right;
	li{
		display: inline;
		a{
			font-family: $secondaryFont;
			color: #fff;
			text-transform: uppercase;
		}
	}
}
nav[role=navigation]{
	position: absolute;
    top: 0;
    right: 0;
	float: right;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	li{
		display: inline-block;
		margin-right: 10px;
		padding: 0 0 5px 0;
		a{
			font-size: em(12);
			font-family: $secondaryFont;
			color: #000;
			text-transform: uppercase;
			text-decoration: none;
			padding: 0 0 5px 0;
		}
	}
	@media screen and (max-width: em(1023)){
		display: none;
	}
}

.menu-wireless-technologies-menu-container{
	display: inline-block;
	vertical-align: middle;
}
.nav__actions{
	
	display: block;
	font-size: em(11);
	font-family: $secondaryFont;
	line-height: 1.0em;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	padding: 20px 0;
	@media screen and (min-width: em(1024)){
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		vertical-align: middle;
		padding: 0 10px;
		height: 70px;
	}
}
.action--careers{
	background-color: $secondaryColor;
}
.action--help-desk{
	background-color: $primaryColor;
}
.action--remote{
	background-color: $tertiaryColor;
}
.menu-item-has-children{
	position: relative;

}
.sub-menu{
	display: none;
	width: 150px;
	position: absolute;
	left: 0px;
	border-top: none !important;
	background-color: $primaryColor;
	font-size: em(14);
	li{
		display: block !important;
		line-height: 1em;
		margin: 0 !important;
		padding: 0 !important;
		a{
			display: block !important;
			padding: 10px 20px !important;
			&:hover,
			&:focus{
				background-color: $secondaryColor;
				color: #fff;
			}
		}
	}
}
.menu-item-has-children:nth-of-type(1) .sub-menu{
	width: 260px;
}
.menu-item-has-children:hover,
.menu-item-has-children:focus{
	.sub-menu{
		display: block;
	}
}

